*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EAF4F6;
}
.header{
    width: 100%;
    height:55px;
    background-color:rgba(165, 164, 164, 0.7);
    position: fixed;
    top: 0;
    z-index:10;
}
.header-search{
    float: left;
    width: 18%;
    height: 35px;
    margin: 10px 30px;
}
.fa-house{
    float: left;
    font-size: 20px;
    margin-top: 6px;
    color: white;
}
form{
float: right;
position: relative;
}
.fa-magnifying-glass{
    position: absolute;
    left: 10px;
    top: 9px;
}
[type="search"]{
    width: 200px;
    height: 27px;
    border-radius: 15px;
    margin-top:4px ;
    margin-right: 10px;
    padding-left: 30px;
}
.header-list{
    float: right;
    width: auto;
    height: 55px;
    margin-right: 4%;
}
.header ul li {
    display: inline-block;
    width:auto;
    height: 55px;
    margin-right: 20px;
}
.header li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    padding-top: 16px;
}
.blog-list{
    position: relative;
}
.sub{
    position: absolute;
    width: 150px;
    visibility: hidden;
    background-color: #EAF4F6;
    border-radius: 10px;
    top: 50px;
}
 .sub .sub-list-com {
   margin-left: 15px;
   margin-top: 5px;
}
.sub .sub-list-com a{
    display: block;
    color: #0F4C85;
}
.blog-list:hover .sub{
    visibility: visible;
}
.sub .line-com::after{
  visibility: hidden;
}
.sub-list-com:hover .line-com::after{
    visibility: visible;
}

.header .line-com{
    position: relative;
    width: auto;
    height: 3px;
}
.header .line-com::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
}
.header li:hover .line-com::after {
    width:100% ;
    height: 100%;
    transition: 0.7s;
}
/*//////////////////////////////////////////////////////////////////*/
.agency{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/pexels-pixabay-314780.jpg);
    background-size:cover;
    background-position: center;
}
.overlay-agency{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(29, 62, 98,0.5);
}
.content-agency{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.agency h2{
    font-size:40px;
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.agency p{

   margin: 20px 0;
   font-size: 17px;
   color:#f0eeee;
}
.agency button{
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
}
.btn1-agency{
    background-color:#EAF4F6;
    margin-right: 10px;
}
.btn2-agency{
    background-color:#0F4C85 ;
    
}
.agency button:hover{
    opacity: 0.7;
}
/*////////////////////////////////////////////////////////////////////*/
.welcome{
    width: 100%;
    height: 550px;
    background-color: #EAF4F6;
}
.welcome-title{
    width: 600px;
    height: auto;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    font-size: 25px;
    color: #00305B;
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.welcome-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:15px auto;
}
.welcome-part{
    width: 1000px;
    margin:40px auto;
    overflow: auto;
}
.part-com{
    width: 300px;
    height: 200px;
    float: left;
    border: #00305B 2px dashed;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.part-com::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(96, 165, 230, 0.7);
}
.part-com:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: -1;
}
.welcome-part2{
    margin: 0 50px;
}
 .welcome .icon-com{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: red;
    margin:auto;
    margin-top: 25px;
}
.welcome-part h3{
    color:#1982df;
    text-transform: capitalize;
    font-size: 22px;
}
.part-com:hover h3{
    color:black;
}
.welcome-part p{
    color: #054077;
    padding: 15px 0;
    text-transform: capitalize;
}
.welcome-part a{
    text-decoration: none;
    text-transform: capitalize;
    color: red;
}
/*////////////////////////////////////////////////*/
.featured{
    width: 100%;
    height:650px;
    background-color: #00305B;
}
.featured-title{
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
.featured-title h2{
    text-transform: capitalize;
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.featured-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:auto;
    margin-top: 10px;
}
.featured-img{
    width:1000px ;
    margin: 40px auto;
}
.featured-img-com{
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.featured-img1{
    background-image: url(../images/images\ \(2\).jfif);
    background-size: cover;
}
.featured-img2{
    margin: 0 50px;
    background-image: url(../images/images\ \(1\).jfif);
    background-size: cover;
    margin: 0 50px;
}
.featured-img3{
    background-image: url(../images/images\ \(6\).jfif);
    background-size: cover;
    background-position:center;
}
.featured h3{
    color:white;
    text-transform: capitalize;
    font-size: 22px;
    padding: 15px 0;
    margin-top: 20px;
}
.featured p{
    color: rgb(219, 216, 216);
    text-transform: capitalize;
}
.featured .featured-icon-com{
    font-size: 20px;
    margin-top: 20px;
}
.featured .featured-icon-com i{
    width: 35px;
    height: 25px;
    background-color: white;
    line-height: 25px;
    border-radius: 5px;
    color: red;
}
.featured-overlay-com{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 140, 245, 0.5);
    border-radius: 15px;
    visibility: hidden;
}
.featured-img-com:hover .featured-overlay-com{
    visibility: visible;
}
.featured .content-com{
    visibility: hidden;
}
.featured-img-com:hover .content-com{
    visibility: visible;
}

/*////////////////////////////////////////////////////////////*/
.work-img{
    width:1000px ;
    margin:auto;
}
.work-img-com{
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.work-img1{
    background-image: url(../images/images\ \(7\).jfif);
    background-size: cover;
    background-position: center;
}
.work-img2{
    margin: 0 50px;
    margin-top: 30px;
    background-image: url(../images/images\ \(5\).jfif);
    background-size: cover;
}
.work-img3{
    background-image: url(../images/images\ \(3\).jfif);
    background-size: cover;
}
.work-img-com:hover .content-com{
    visibility: visible;
}
.work-overlay-com{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 140, 245, 0.5);
    border-radius: 15px;
    visibility: hidden;
}
.work-img-com:hover .work-overlay-com{
    visibility: visible;
}
/*/////////////////////////////////////////////////////*/
.offer{
    width: 100%;
    height: 650px;
}
.offer-title{
    width: 600px;
    margin:auto;
    margin-top: 80px;
    text-align: center;
}
.offer h2{
    font-size: 25px;
    color: #00305B;
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.offer-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:auto;
    margin-top: 10px;
}
.offer-part1{
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    overflow: auto;
}
.offer .exclusive{
    margin: 0 125px;
}
.offer-com{
    float: left;
    width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    border: #00305B 2px dashed;
    position: relative;
    z-index: 1;
}
.offer-com::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(25, 130, 223,0.3);
}
.offer-com:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: -1;
}

.offer-part2{
    width: 1000px;
    height: auto;
    margin: 30px auto;
    overflow: auto;
}
.offer .unique{
    margin: 0 125px;
}
.offer-left-com{
    width: 40px;
    float: left;
    margin-top: 30px;
    margin-left: 20px; 
    text-align: right;

}
.offer-right-com{
    width:150px ;
    float: right;
    margin-top:30px;
    text-align: left;
    margin-right: 30px;
    
}
.offer a i{
    font-size: 25px;
    color: red;
   
}
.offer p{
    color: #2f99f5;
    margin-top: 5px;
}
.offer h3{
    text-transform: capitalize;
    font-size: 16px;
}
.offer:hover h3{
    color:#00305B;
}
.offer-com:hover p{
    color: black;
}
/*/////////////////////////////////////////////*/
.choose{
    width: 100%;
    height: 600px;
    background-color: #00305B;
}
.choose-left{
    float: left;
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;

}
.choose-right{
    float: right;
    width: 400px;
    height: 500px;
    margin-top: 50px;
    margin-right: 70px;
}
.choose h2{
    text-transform: capitalize;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    color: white;
} 
.choose-line{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 5px;
    margin-left: 5px;
}
.choose p{
    font-size: 18px;
    padding: 50px 0;
    color:rgb(240, 234, 234);
}
.choose span{
    display: block;
    font-size:18px ;
    padding-top: 18px;
    color: #b4d8f8;
}
.choose .sym1{
    color: red;
    display: inline;
}
.choose-right .choose-img{
    width:300px ;
    height: 350px;
    background-image: url(../images/images.jfif);
    background-size: cover;
    border-radius: 15px;
    margin: 50px auto;
}
.choose-icon{
    text-align: center;
    color: gray;
}
.choose .icon1{
    color: red;
}
/*///////////////////////////////////////////////////////////*/
.fixed-img{
    width: 100%;
    height: 300px;
    background-image:url(../images/pexels-waltc-34405814.jpg);
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}
.fixed-icons{
    width: 1000px;
    height: 200px;
    margin:35px auto;
}
.fixed-icon-com{
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
}
.fixed-icon2{
    margin: 0 50px;
}
.fixed-icon3{
    margin: 0 50px;
}
.fixed-img i{
   margin-top: 50px;
   font-size: 30px;
   color:red;
}
.fixed-img span{
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: white;
}
.fixed-img p{
    text-transform: capitalize;
    font-size: 18px;
    color: white;
}
.fixed-img .fixed-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 90, 158, 0.3);
}
/*///////////////////////////////////////////////////////*/
.table{
    width: 100%;
    height: 550px;
}
.table h2{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    color: #00305B;
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 
.table-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:auto;
    margin-top: 10px;
}
.pricing{
    width: 1000px;
    height: 400px;
    margin:auto;
    margin-top: 50px;
}
.pricing-com{
    float: left;
    width: 300px;
    height: 400px;
    border: 2px dashed #00305B;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.pricing-com::after{

    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(25, 130, 223,0.3);
    transition: 1s;
}
.pricing-com:hover::after{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.pricing2{
    margin: 0 50px;
}
.pricing h3{
    color: #0F4C85;
    padding: 30px 0;
}
.pricing-com:hover h3{
    color: black;
}
.pricing-circle-com{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: red 1px solid;
    margin: auto;
}
.pricing-com:hover .pricing-circle-com{
    border: red 2px solid;
}
.pricing span{
    display: inline-block;
    margin-top: 25px;
    font-size: 25px;
}
.pricing-com > p{
    margin-top: 15px;
    color: #1982df;
}
.pricing button{
    padding: 5px 25px;
    margin-top: 30px;
    border-radius: 5px;
    border: red 1px solid;
    text-transform:capitalize;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
/*//////////////////////////////////////////////////////////////*/
.names-fixed-img{
    width: 100%;
    height: 300px;
    background-image: url(../images/pexels-pixabay-158028.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.names-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0,0.5);
}
.names{
    width: 1000px;
    height: 200px;
    margin: 50px auto;

}
.names-left{
    float:left;
    width: 450px;
   
}
.names-right{
    float: right;
    width: 450px;
}
.name-img-com{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.names .info-com{
    float:left ;
}
.names .names-info-com{
    width: 450px;
    overflow: auto;
}
.names span{
    display:block;
    text-transform: capitalize;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
    color:white;
}
.names-img1{
    background-image: url(../images/images\ \(4\).jfif);
    background-size: cover;
}
.names-img2{
    background-image: url(../images/images\ \(8\).jfif);
    background-size: cover;
}
.names p{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #83bdf0;
}
.names .name{
    font-size: 22px;
}
/*//////////////////////////////////////////////////////////////*********/
.team{
    width:100%;
    height: 550px;
}
.team h2{
    text-align: center;
    text-transform: capitalize;
    color: #00305B;
    font-size: 30px;
    padding-top: 80px;
}
.team-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:15px auto;
}
.team-part{
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    overflow: auto;
}
.team-part-com{
    float: left;
    width: 300px;
    height: 300px;
    background-color:#8dc1f1;
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.team-part-com::after{

    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(8, 67, 119, 0.3);
    transition: 1s;
}
.team-part-com:hover::after{
    width: 100%;
    height: 100%;
}
.team-part2{
    margin: 0 50px;
}
.team-img-com{
    width: 200px;
    height: 200px;
    margin: 15px auto;
    background-size: cover;
    position: relative;
}
.team-img1{
    background-image: url(../images/images\ \(9\).jfif);
}
.team-img2{
   background-image: url(../images/images\ \(10\).jfif);
}
.team-img3{
    background-image: url(../images/images\ \(11\).jfif);
    background-position: center;
}
.team span{
    font-size: 20px;
}
.team-part-com:hover span{
    color:white;
}
.team p{
    font-size: 21px; 
    padding-top: 5px;
    text-transform: capitalize;
}
.team-part-com:hover p{
    color:white;
}
.team-overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.team-part-com:hover   .team-overlay {
    visibility: visible;
    opacity: 1;
}
.team-overlay  a  {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgb(9, 179, 241);
    color: #fff;
    font-size: 18px;
    margin-left: auto ;
}
.team-overlay  a   i  {
    line-height: 30px;
}
/*///////////////////////////////////////////////////////////////////*/
.news{
    width: 100%;
    height: 650px;
}
.news h2{
    text-align: center;
    color:#00305B;
    text-transform: capitalize;
    padding-top: 30px;
    font-size: 30px;
}
.news-line{
    width: 75px;
    height: 3px;
    background-color:red;
    margin:auto;
    margin-top: 10px;
}
.news-parts{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}
.news-part-com{
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid red;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}
.news-part-com::after{

    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(25, 130, 223,0.3);
    transition: 1s;
}
.news-part-com:hover::after{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.news-part2{
    margin: 0 50px;
}
.news-img-com{
    width: 250px;
    height: 250px;
    margin:20px auto;
    background-size: cover;
    border-radius: 15px;
}

.news-img1{
    background-image: url(../images/images\ \(12\).jfif);
}
.news-img2{
    background-image: url(../images/images\ \(15\).jfif);
}
.news-img3{
    background-image: url(../images/images\ \(14\).jfif);
}
.news-icon-com{
    display: inline;
    text-transform: capitalize;
}
.news-part1-icons2{
    margin: 0 15px;
}
.news-part2-icons2{
    margin: 0 15px;
}
.news-part3-icons2{
    margin: 0 15px;
}
.news a i{
    color: red;
}
.news-part-com:hover span{
    color: #00305B;
}
.news h3{
    padding: 15px 0;
    text-transform: capitalize;
}
.news-part-com:hover h3{
       color: #0F4C85;
}
.news p{
    padding-bottom: 20px;
}
.news-part-com:hover p{
    color: #1876ce;
}
.news a{
    text-decoration: none;
    text-transform: uppercase;
}
/*//////////////////////////////////////////////////////////////////////////*/
.end{
    width: 100%;
    height: 450px;
    background-color: #00305B;
}
.end-img{
    width: 300px;
    height: 250px;
    background-image: url(../images/images\ \(13\).jfif);
    background-size: cover;
    margin:10px auto;
    border-radius: 15px;
}
.end-icons{
    text-align: center;
    font-size: 35px; 
    padding-top: 15px;
}
.end-icons a i {
    width: 60px;
    height: 60px;
    background-color: #6498c9;
    line-height: 60px;
    color: red;
    border-radius: 50%;
}
.end-icons i:hover{
    background-color: #1876ce;
}
.end p{
    text-align: center;
    color: white;
    padding-top: 20px;
    text-transform:uppercase;
    font-size: 12px;
}






